{% extends "feed/base.html" %} {% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        Materialize.toast('I am a toast!', 4000)
    });
</script> {% endblock javascript %} {% block content %}
<!--Content-->
<script type="text/javascript">
    var count = 1
    function funcExpand() {
        count++
        if (count % 2 == 0) {
            document.getElementById("index-container").className = "container"
        } else {
            document.getElementById("index-container").className += "xyz"
        }
        if (count <= 2) {
            Materialize.toast('This button is for adjusting content fit', 3000)
        }

    }
</script>

<div class="had-container" id="index-container">
    <style>
        #new-row:last-child {
            margin-bottom: 10%
        }
    </style>
    <div>
        <ul>
            {% for news in news_list %}
            <li id="item{{ forloop.counter }}">
                <a href="{% url 'feed:details' news.id %}"></a>
                <div class="row" id="news-row">
                    <div class="col l10 m12 s12 push-l1">
                        <div class="card hoverable " onclick="location.href= '{% url 'feed:details' news.id %}' ">
                            <div class="card-content grey-text text-darken-3 ">
                                <span class="card-title ">
                                    <a href="{% url 'feed:details' news.id %} ">{{ news.title }}</a>
                                </span>
                                <p class="">I am a very simple card. I am good at containing small bits of information. I am convenient
                                    because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action " style="border:none ">
                                <a class="teal-text text-lighten-2" href="# ">{{news.score}} point{{news.score|pluralize}}</a>
                                <a class="teal-text text-lighten-2" href="# ">{{ news.comments_set.count }} comment{{news.post_comments|pluralize}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </ul>
    </div>
</div>
<!--Content-->
{% endblock content %}