{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|La+Belle+Aurore" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/materialize.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <title>Le Journal</title>
</head>
<style>
    .nav-wrapper,
    .page-footer {
        /*background: linear-gradient(127deg, rgba(82, 219, 190, 0.918),
        rgb(47, 158, 192), rgba(222, 109, 245, 0.863))*/
        background: linear-gradient(to left, #3e5151, #decba4);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    body {
        background-color: #eceff1;
    }
</style>

<body>
    <!-- START OF HEADER  -->
    <div class="navbar-fixed zz">
        <nav>
            <div class="nav-wrapper green lighten-1">

                <div class="container">
                    <a href="{% url 'feed:index' %}" class="brand-logo left hide-on-med-and-down" style="font-family:La Belle Aurore,Verdana">
                        Le Journal
                    </a>
                    <a href="{% url 'feed:index' %}" class="brand-logo center hide-on-large-only" style="font-family:La Belle Aurore,Verdana">
                        Le Journal
                    </a>
                    <a href="#" data-activates="mobile-menu" class="hide-on-large-only sidemenu">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="#">Random News</a>
                        </li>
                        <li>
                            <a href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'account:signup' %}">Register</a>
                        </li>
                        {% block logged_in_user %} {% endblock logged_in_user %}

                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
        <li>
            <a href="#">Random News</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
        <li>
            <a href="{% url 'account:signup' %}"> Register</a>
        </li>
    </ul>
    <!-- END OF HEADER  -->


    <!-- START OF CONTENT  -->
    {% block content %} {% endblock %}
    <!-- END OF CONTENT  -->

    <div class="fixed-action-btn" onclick="funcExpand()">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">fullscreen</i>
        </a>
    </div>

    <!-- START OF FOOTER  -->
    <footer class="page-footer green lighten-1">
        <div class="container">
            <div class="row ">
                <div class="col l12 m12 s12 center">
                    <h4 style="font-family:La Belle Aurore">Le Journal</h4>
                    <p>A minimal news app, made with
                        <i class="tiny red-text material-icons">favorite</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright small">
            <div class="container center">
                © 2018 Copyright
                <a class="red-text text-accent-3 " href="https://www.github.com/snbk97"> &nbsp; Sayan Bhowmik
                </a>
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER  -->


</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".sidemenu").sideNav();


    });

</script>

</html>