{% extends "account/base.html" %} {% block content %}
<script type="text/javascript">
    var count = 1

    function funcExpand() {
        count++
        if (count % 2 == 0) {
            document.getElementById("index-container").className = "container"
        } else {
            document.getElementById("index-container").className += "xyz"
        }
    }
</script> {% if messages %}
<ul class="messages">
    Messages: {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="container" id="index-container" style="margin-top:2em;margin-bottom:2em;">
    <div class="col l5 m12 s12 ">
        <div class="container">

            <div class="card">
                <div class="card-content">
                    <div class="container center">
                        {% if not user.is_authenticated %}
                        <h4> Login</h4>
                        <div class="row">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col l12 s12">
                                        <input type="text" name="username" maxlength="100" required id="id_username" class="validate" autocomplete=off>
                                        <label for="id_username">Username</label>
                                    </div>
                                    <div class="input-field col l12 s12">
                                        <input type="password" name="password" required id="id_password" class="validate" autocomplete=off>
                                        <label for="id_password">Password</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <input class="btn btn-large waves-effect red-text waves-light" type="submit" name="submit" id="ok">
                                </div>

                            </form>
                        </div>
                        {% else %} You are already Logged in. {% endif %}

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
    });
</script> {% endblock content %}