{% if user.is_authenticated %} Welcome {{ user }}
<br>
<p>
    <a href="{% url 'account:logout' %}">Logout</a>
</p>
<p>
    {% else %}
    <a href="{% url 'account:login' %}">Login</a>
</p>
<p>
    <a href="{% url 'account:signup' %}">Register</a>
</p>

{% endif %}