{% extends "account/base.html" %} {% block content %}
<script type="text/javascript">
    var count = 1

    function funcExpand() {
        count++
        if (count % 2 == 0) {
            document.getElementById("index-container").className = "container"
        } else {
            document.getElementById("index-container").className += "xyz"
        }
    }
</script> {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="acontainer" id="index-container" style="margin-top:2em;">
    <div class="col l10 m10 s12 push-l1 ">

        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="container center">
                        {% if not user.is_authenticated %}
                        <h4> Signup</h4>
                        <div class="row">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col l6 s12">
                                        <input type="text" name="username" maxlength="150" required id="id_username" class="validate" autocomplete=off>
                                        <label for="id_username">Username</label>
                                    </div>
                                    <div class="input-field col l6 s12">
                                        <input type="email" name="email" maxlength="254" id="id_email" class="validate" autocomplete=off>
                                        <label for="id_email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l6 s12">
                                        <input type="password" name="password1" required id="id_password1" class="validate" autocomplete=off>
                                        <label for="id_password1">Password</label>
                                    </div>
                                    <div class="input-field col l6 s12">
                                        <input type="password" name="password2" required id="id_password2" class="validate" autocomplete=off>
                                        <label for="id_password2">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col l6 s12">
                                        <select class="select-dropdown dropdown-trigger" name="gender" id="id_gender">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Other</option>
                                        </select>
                                        <label>Gender</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea type="text" name="bio" maxlength="300" id="id_bio" class="materialize-textarea"></textarea>
                                        <label for="id_bio">Write something about yourself</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" name="email_notif" id="id_email_notif" required />
                                        <span>Send me future updates via email</span>
                                    </label>
                                </div>
                                <div class="row">
                                    <input class="btn btn-large waves-effect red-text waves-light" type="submit" name="submit" id="ok">
                                </div>

                            </form>
                        </div>
                        {% else %} You are already Logged in. {% endif %}

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
    });
</script> {% endblock content %}